.concept

.concept__content
  display: flex
  flex-direction: row
  align-items: center
  width: 100%
  max-width: 75rem

.concept__logo
  padding-right: 2rem
  flex: 0 0 calc((100% - 103px)/2)

.concept__divider
  flex: 0 0 103px

.concept__text
  padding-left: 2rem
  flex: 0 0 calc((100% - 103px)/2)