.contact
  background-image: url('/images/sky.jpg')
  background-attachment: fixed

  .contact__details
    margin-top: 2rem
    color: #FFFFFF
    font-size: 1.2em
    text-align: center

    a,
    tel
      display: block
      color: #FFFFFF

  svg
    max-width: 340px!important

  a:hover
    text-decoration: underline

