@font-face {
  font-family: 'Tw-Cen-MT';
  src: url('/fonts/tw-cen/twcen-bold.eot');
  src: url('/fonts/tw-cen/twcen-bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/tw-cen/twcen-bold.woff') format('woff'),
    url('/fonts/tw-cen/twcen-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
