---
title: Welcome to Middleman
---
<section class="front">
  <img src="/images/brand-symbol.svg">

<div class="scroll-btn">

  <a href="#">
    <span class="scroll-btn__mouse">
      <span></span>
    </span>
  </a>
  <p>Scroll to explore</p>

</div>

</section>
<section>2</section>
<section>3</section>